{% extends "DosiTheseFondationBundle:Frontend:base.html.twig" %}

{% block body %}
    <div id="presentationCadre">
        <h1>Formulaire de candidature</h1>

        <div id="block_index">

            <div class="row">
                   <p class="axe">Votre candidature a été prise en compte.</p>
            </div>
        </div>
    </div>
{% endblock %}